                                          Assignment 1

#### Task 1 : Question 1: Install Jupyter notebook and run the first program and share the screenshot of the output.

In [15]:
print("Hello!!!")

Hello!!!

#### Task 1 : Question 2: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

##### Solution 1:

In [16]:
"""Program to find a list of all numbers between 2000 and 3200 which are divisible by 7 but not a multiple of 5"""
list1 = []
for i in range(2000,3201):
#Check if the number is divisible by 7 and not a multiple of 5
    if i%7 == 0 and i%5 != 0:
        list1.append(i) #Append the numbers to the empty list
str1 = str(list1).strip('[]') #Strip/trim the beginning and end brackets
print(str1)

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

#### Task 1 : Question 3: Write a Python program to accept the user's first and last name and then getting them printed in the reverse order with a space between first name and last name.

In [25]:
"""Program to take the user's first and last name and print them in a reverse order"""
firstname = input("Enter your firstname: ") #Enter your firstname
lastname = input("Enter your lastname: ") #Enter your lastname
print(lastname[::-1],firstname[::-1]) #Reverse the firstname and lastname and print in the reverse order

Enter your firstname: Abc
Enter your lastname: Def
feD cbA

#### Task 1: Question 4: Write a Python program to find the volume of a sphere with diameter 12 cm.

In [18]:
"""Program to find the volume of a cube"""
d = 12
radius = d/2 #Calculating the radius
vol = (4/3)*3.142*(radius)**3 #Formula for volume of a cube
print("The volume of the cube is {} cubic cm".format(vol))

The volume of the cube is 904.896 cubic cm

#### Task 2: Question 1: Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

###### Solution 1

In [19]:
"""Program to generate a list by taking comma-separate numbers as input"""
numbers = input("Enter a comma-separated sequence of numbers: ")
list_num = list(numbers)
m = []
for i in list_num:
    if i == ',':
        list_num.remove(i)  #Remove the commas 
for i in list_num:
    m.append(int(i))  #Convert the string into numbers and append in a new list
print(m)

Enter a comma-separated sequence of numbers: 1,2,3,4,5
[1, 2, 3, 4, 5]

###### Solution 2

In [20]:
"""Program to generate a list by taking comma-separate numbers as input"""
numbers = input("Enter a comma-separated sequence of numbers: ")
list_num = list(numbers)
a = list_num[::2] #Skip the commas and take numbers only
b = []
for i in a:
    b.append(int(i))  #Convert the strings into numbers and append in a new list
print(b)

Enter a comma-separated sequence of numbers: 1,4,5,6
[1, 4, 5, 6]

#### Task 2 : Question 2: Create the * pattern using nested for loop in Python.

In [13]:
"""Program to create a pattern"""
for i in range(1,10):  
    if i < 6:#Print the pattern by incrementing the numbers
        print('*'*i)
    else:
        for j in range(10-i,0,-1):
            print('*'*(j)) #Print the pattern by reducing the numbers
            break

*
**
***
****
*****
****
***
**
*

#### Task 2 : Question 3: Write a Python program to reverse a word after accepting the input from the user.

In [26]:
"""Program to reverse a word"""
word = input("Enter a word: ")
print(word[::-1]) #Print the reversed word

Enter a word: Apple
elppA

#### Task 2 : Question 4: Write a Python Program to print the given string in the format specified in the sample output.

In [23]:
"""Program to print a given string in a particular format"""
givenstring = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, ! \n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t  and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all its citizens